---
layout: research
permalink: /research/
---


<div class="row" id="body-row">

<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-3">
    <span class="list-group sticky-top sticky-offset">
        {% include sticky_side.html %}

    </span>
</div>
<!-- Sidebar END-->

<div class="col py-3">
  <div class="container">


    <!-- RESEARCH SECTION -->
    <div class="container" style="text-align:center; margin-bottom:40px;">
      <div class="row" id="about">
        <div class="col-md-10">
        <h2 class="page-title">Research</h2>
        <h3 class="page-subtitle text-muted">Publications & Scientific Interests.</h3>
        <hr style="width:40%; background:#02456F;">
        </div>
      </div>

      <!--
      <div class="row" style="margin-top:30px;">
        <div class="col-md-8 offset-md-1">
          Explore the dynamics of neurodegenerative diseases to learn statistical models that characterize average and individual progressions of the disease.

          <br>&bull;<br>
          As part of the Aramis Lab, located at the Brain and Spine Institute, at the Pitié Salpétrière Hospital, in Paris, I develop new tools to analyze the progression of neurodegenerative diseases, especially Alzheimer's Disease.
          I contribute to explore new ways to understand the brain evolution thanks to Machine Learning tools.
          <br>&bull;<br>
          The main goal we are trying to reach are multiples
          <ul>
            <li>Get a better understanding of the disease progression for the doctors</li>
            <li>Not only to be able to predict individual futur stage but also to better understand one's particular trajectory</li>
            <li>Give tools to clinical trials in order to measure the impact of a drug versus what should have had happend that we try to determine</li>
          </ul>
        </div>
      </div>
    -->
    </div>


    <div class="row">
      <div class="col-md-10">
        <div class="about-text">
          My research focuses on developing new approaches to understanding disease progression, particularly the dynamics of neurodegenerative diseases, using machine learning tools. 
          The aim is to design better clinical trials tailored specifically for neurodegenerative conditions.
        </div>

        <br><br>

        <div class="about-text">
          The goals of my research are three-fold:
          <ul>
            <li>Gain a deeper understanding of the spatio-temporal patterns of brain alterations, particularly through the development of numerical models of disease progression based on longitudinal data,</li>
            <li>Characterize individual progression patterns by analyzing the influence of cofactors such as gender, genetics, and socio-demographic information, while predicting individual diagnoses and disease stages up to five years in advance.,</li>
            <li>Identify the optimal time for patients to respond to drugs in clinical trials, which involves detecting the biomarkers most likely to reveal drug effects.</li>
          </ul>
        </div>

        <br><br>

        <div class="about-text">
          To this end, I have introduced several methodological improvements to existing approaches (see <a href="#publications">Publications</a>). Most of them are based on a range of tools and software I have developed, in particular:
          <ul>
            <li><b>Leaspy:</b> <a href="https://gitlab.com/icm-institute/aramislab/leaspype">LEArning Spatiotemporal Patterns in Python</a>. Enables to estimate the diseae progression for various biomarkers at the average and individual level. Python 3.7.</li>
            <li><b>Leaspype:</b> a software wrapper around Leaspy, dedicated to forecast disease progression and run statistical analysis to enhance clinical trials with prognostic enrichment (with procova methogology)</li>
            <li><b>Digital Brain:</b> Web application to vizualise the group-average and invidiaul evolution of the cortical thickness, the PET-FDG, the hippocampus mesh and the cognitive scores, during the course of Alzheimer's Disease. <a href="http://digital-brain.org/">Digital-Brain</a></li>
          </ul>
        </div>



      </div>



    </div>

    <!-- PUBLICATIONS SECTION -->
    <div class="row" id="publications" style="margin-top:70px;">
      <div class="col-md-10">
        <h2 class="title">Main publications</h2>
        <p>Click on the image (or title for phone-users) to read the abstract</p>
      </div>
    </div>

    {% for pub in site.data.research.publications %}
      <div class="row publi-row">

        <div class="col-md-2">
          <div class="material-project publi-modal img-modal" href="#{{pub.id}}" data-toggle="modal">
            <img class="img-fluid" src="{{site.baseurl}}/{{pub.img}}" style="cursor:pointer;" alt="{{pub.title}}">
          </div>

        </div>

        <div class="col-md-8">
          <div class="about-text">
            <div class="material-project publi-modal" href="#{{pub.id}}" data-toggle="modal">
              <span class="publi-title">{{pub.title}}</span>
            </div>
            <div class="publi-info">In <i>{{pub.in}}</i>. {{pub.year}}. <a href="{{site.baseurl}}/{{pub.pdf}}">PDF</a> & <a href="{{pub.link}}" target="_blank"> Link to publication</a></div>
            <div class="publi-authors">{{pub.authors}}</div>
          </div>
        </div>
      </div>


      <div class="portfolio-modal modal fade" id="{{pub.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <h2 style="font-size:36px;">{{pub.title}}</h2>
                  <h3 class="page-subtitle text-muted">Abstract</h3>
                  <hr style="width:40%; background:#02456F;">
                  <div style="text-align:justify;">
                    {{pub.abstract}}
                  </div>
                  <div style="margin-top:20px">
                  {% for tag in pub.tags %}
                    <span class="interests-tag">{{tag}}</span>
                  {% endfor %}
                  </div>

                  <img class="img-fluid" src="{{site.baseurl}}/{{pub.img}}" alt="{{pub.title}}" style="max-height:200px; max-width:100%; margin-top:50px"></img>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}



    <!----- TEACHING SECTION --->
    <div class="row" id="teaching" style="margin-top:70px;">
      <div class="col-md-10">
        <h2 class="title">Teaching</h2>
      </div>
    </div>

    {% for teach in site.data.research.teaching %}
      <div class="row teach-row">
        <div class="col-md-3">
          <div class="teach-title">{{teach.title}}</div>
          <div class="teach-period">{{teach.period}}</div>
          <div class="teach-location">{{teach.location}}</div>
        </div>

        <div class="col-md-7 teach-text">
          {% for d in teach.description %}
            <div>{{d}}</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}




    </div>
</div>
</div>

{% include content/map.html %}

<br>

<script>
  var aboutlink = document.getElementById('researchlink');
  aboutlink.className="nav-link main-nav-link active";
</script>


<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Roboto+Condensed:400,700:latin', 'Source+Sans+Pro:400,600,400italic,700italic,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
